/* Pages.module.css */
.pagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.pageContainer {
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
}
