black
boto3
boto3-stubs
fastapi
google-cloud-secret-manager
gunicorn
mypy
openai
passlib[bcrypt]
Pillow
pyflakes
pyjwt
pymongo[srv]
pytest
python-dotenv
python-multipart
replicate
requests
types-passlib
types-Pillow
types-requests
uvicorn
wandb
watchdog