black
boto3
boto3-stubs
fastapi
google-cloud-secret-manager
gunicorn
mypy
passlib[bcrypt]
pyflakes
pyjwt
pymongo[srv]
pytest
python-dotenv
python-multipart
requests
types-passlib
types-requests
uvicorn
watchdog